.analytics-page-conatainer {
  height: 100vh;

  .tab-box {
    margin-top: 30px;
  }

  .circle-chart {
    width: 180px;
    height: 180px;
  }

  .analytics-content {
    display: flex;
    flex-direction: column;
  }

  .compare-btn {
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid var(--green-7);
    height: 44px;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 212px;
    color: var(--grey-9);
    font-family: MacPawFixelMedium;
    font-size: 14px;

    &:disabled {
      border-color: var(--grey-3);
      color: var(--grey-3);
    }
  }
}
