.analytics-wrapper {
  .tab-box {
    margin-top: 30px;
  }
  
  .circle-chart {
    width: 180px;
    height: 180px;
  }
  
  .analytics-content {
    display: flex;
    flex-direction: column;
  }
  
  .compare-btn {
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid var(--default-green);
    height: 44px;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 212px;
    color: var(--default-grey-90);
    font-family: MacPawFixelMedium;
    font-size: 14px;
    
    &:disabled {
      border-color: var(--default-grey-30);
      color: var(--default-grey-30);
    }
  }
}
