.create-campaign-form {

  .campaign-input-box {
    display: flex;
    align-items: center;

    .campaign-input_name {
      max-width: 260px;
      width: 100%;
      border: none;
      background: transparent;
      font-size: 32px;
      color: var(--grey-9);

      &::placeholder {
        opacity: 0.5;
      }
    }

    .campaign_tooltip {
      position: relative;
      bottom: -7px;
    }

    .campaign-icon_edit {
    }
  }

  .campaign-upload-content {
    display: flex;
    gap: 30px;
    margin-top: 40px;

    @media (max-width: 800px) {
      flex-direction: column;

      .campaign-forms,
      .campaign-upload_html-form {
        width: 100%;
      }
    }
  }
}

.campaign_stepper {
  display: flex;
  font-size: 16px;
  color: var(--grey-9);

  & span {
    color: var(--grey-5);
    margin-right: 2px;
  }
}

.campaign-input-box .campaign-edit-icon {
  display: none;
}

.campaign-input-box:focus-within .campaign-edit-icon {
  display: none;
}

.campaign-input-box:not(:focus-within) .campaign-edit-icon {
  display: block;
}

.campaign-forms {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 10px 0;

  & label {
  }

  .campaign-forms_subject, .campaign-forms_group-from {
    width: 100%;
    display: flex;
    flex-direction: column;

    .input-box {
      max-width: 100%;
    }
  }

  .recipients-info {
    color: var(--grey-5);
  }

  .custom-dropdown {
    .selected-option {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid var(--grey-2);
      background: var(--grey-1);

      & img {
        width: 24px;
        height: 24px;
      }
    }

    .options {
      background: var(--grey-1);
      margin: 0;
      border: 0;
      border-radius: 10px;
      padding: 10px 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & li {
        height: 44px;
        box-sizing: border-box;
        padding: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      :hover {
        background: var(--grey-1);
        border-radius: 10px;
      }
    }
  }
}

.campaign-upload_html-form {
  width: 50%;
  margin: 10px 0;

  .brand-input-icon-block {
    height: 22px;
  }
}

.campaign-preview-icon,
.campaign-delete-icon {
  padding: 3px 5px;
  border-radius: 10px;

  &:not(:last-child) {
    margin: 0 3px;
  }

  &:hover {
    background: var(--grey-1);
  }
}

.campaign-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Preview component for Manual Text & HTML */
.editor-preview-container {
  background: var(--grey-1);
  padding: 20px;
  border: 1px solid #EAEAEC;
  border-radius: 5px;

  &.is-desktop {
    width: 70%;
    min-height: 80vh;
    overflow: hidden;
  }

  &.is-mobile {
    width: 33%;
    height: 80vh;
    border: 5px solid var(--grey-1);
    border-radius: 30px;
  }
}

.modal-input {
  padding: 10px 0;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
