.audience-list-container {
  
  .audience-list-card-container {
    
    .ant-card {
      width: 220px;
      margin: 0;
      
      .ant-card-body {
        padding: 30px;
      }
      
      .ant-card-actions {
        .anticon {
          font-size: 17px;
          color: #95959D;
          
          &:hover {
            color: #7E9D00;
          }
        }
        
        .delete-icon {
          &:hover {
            color: #FF5656;
          }
        }
      }
    }
  }
}
