/* TABS */
.tabs-container {
  display: flex;
  flex-direction: column;
  width: 430px;
  
  .tab-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: 1px solid var(--grey-7);
    padding: 0;
    margin: 15px 0 5px 0;
    
    .tab {
      cursor: pointer;
      border-top: none;
      border-right: none;
      border-left: none;
      text-align: center;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: var(--grey-7);
    }
    
    .tab {
      padding: 10px 8%;
      letter-spacing: 0.05em;
      caret-color: transparent
    }
    
    .tab.is-active {
      border-bottom: 1px solid var(--grey-9);
      border-top: none;
      border-right: none;
      border-left: none;
      font-weight: 900;
      color: var(--grey-9);
    }
  }
  
  .blocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1;
    padding: 15px 0;
    overflow: auto;
    height: 82vh;
    
    &::-webkit-scrollbar {
      width: 4px; /* Adjust the width for a thinner scrollbar */
      background: #f0f0f0; /* Light gray background */
    }
    
    &::-webkit-scrollbar-thumb {
      background: #b0b0b0; /* Medium gray thumb */
      border-radius: 10px; /* Rounded corners for the thumb */
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #909090; /* Darker gray on hover */
    }
    
    @media (min-width: 2000px) {
      height: 45vh;
    }
    
    @media (max-width: 2000px) or (max-width: 1246px) {
      justify-content: space-around;
    }
    
    /*styles apply paragraph, heading, ... in the tabs*/
    .building-blocks-item {
      border: 1px solid var(--grey-1);
      border-radius: 20px;
      padding: 15px 18px;
      margin: 8px;
      cursor: pointer;
      height: 140px;
      
      &:hover {
        scale: 1.05;
        border: 1px solid var(--green-8);
      }
      
      .on-drag-splitter {
        display: none;
      }
    }
    
    .layout-blocks-item {
      margin: 8px;
      cursor: pointer;
      
      .layout-icon {
        width: 100%;
      }
      
      &:hover {
        scale: 1.02;
      }
      
      &:hover rect:nth-of-type(4) {
        stroke: var(--green-8);
      }
      
      .on-drag-splitter {
        display: none;
      }
    }
  }
}

/* Initial blocks of Sidebar tools */
.tag-content {
  display: block;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-align: center;
  cursor: text;
  width: 100%;
  z-index: 2;
}

/* BUILD BLOCK */
.list-build-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-build-block {
  background: var(--green-7);
  color: var(--grey-1);
  border: none;
  border-radius: 8px;
  max-width: 200px;
  height: 30px;
  margin: 0 auto;
}

.image-build-block {
  width: 100%;
  
  &.is-drag-accept {
    border: 1px dashed var(--green-8);
  }
  
  &.is-drag-reject {
    border: 1px dashed var(--orange-9);
  }
  
  .dropzone-input {}
  
  .dropzone-container {
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: context-menu;
    background: var(--grey-3);
    
    & > .dropzone-placeholder-icon {
      border-radius: 0;
    }
    
    & > .dropzone-placeholder-abbr {
      font-weight: bold;
    }
    
    & > .dropzone-placeholder-text {
      font-size: 12px;
      color: var(--grey-3);
      
      & > .dropzone-placeholder-link {
        color: var(--green-7);
        font-weight: 700;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
  }
  
  .previews {
    display: flex;
    justify-content: space-around;
    
    .uploaded-image {
      display: block;
      width: 90%;
    }
  }
}

.spacing-build-block {
  height: 20px;
}

.divider-build-block {
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  border: 1px solid var(--grey-3);
}

.html-build-block {
  border: none;
}

.footer-build-block {
  padding: 18px 0;
  display: flex;
  
  .unsubscribe-link {
    color: var(--grey-5);
    padding: 5px 0;
    
    &:active {
      color: var(--grey-5);
    }
    
    &:visited {
      color: var(--grey-5);
    }
  }
  
  .logos-wrapper {
    display: flex;
    width: 200px;
    margin: 20px auto;
    
    .powered_by {
      color: var(--grey-5)
    }
    
    .logos-container {
      display: flex;
      justify-content: space-between;
      width: 90px;
      margin: 0 auto;
    }
  }
}

/* EDITOR */
.image-editor-container {
  height: 75vh;
  overflow: auto;
}

.html-editor-container {
  overflow: auto;
  height: 75vh;
  margin: 5px 10px;
}

.video-editor-container {
  width: 100%;
  margin: 0 auto;
}

.giphy-editor-container {
  .giphy-search-wrapper {
    padding: 5px 15px;
  }
  
  .giphy-image-container {
    overflow: auto;
    height: 67vh;
    margin: 5px 0;
  }
  
  .giphy-image {
    margin: 5px;
    border-radius: 5px;
  }
}
