.logo-link-container {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  
  .ant-typography {
    margin-top: 8px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--grey-7);
  }
  
  .logo-image-animated {
    height: 40px;
    width: 40px;
    aspect-ratio: auto 40 / 40;
  }
}

.logo-image {
  height: 30px;
  margin: 18px 15px 18px 28px;
  cursor: pointer;
}
