.tab-content {
  .user-info {
    .email-info, .change-pass {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
      gap: 30px;
      box-sizing: border-box;
      
      .info-title {
        text-align: left;
        flex: 1;
        
        & h1 {
          color: var(--default-grey-90);
          font-family: MacPawFixelBold;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 31.2px */
        }
        
        & p {
          color: var(--default-grey-90);
          font-family: MacPawFixelMedium;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          opacity: 0.7;
          margin: 0;
        }
      }
      
      .input-box {
        flex: 1;
        max-width: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        
        & label {
          font-family: MacPawFixelMedium;
          color: #2A2B3B;
          font-size: 14px;
          margin: 5px 0 5px 20px;
        }
        
        & input {
          width: 100%;
          padding: 10px 20px;
          height: 44px;
          box-sizing: border-box;
          font-size: 14px;
          border: 1.5px solid #D4D5D8;
          background-color: var(--default-white);
          border-radius: 10px;
          font-family: MacPawFixelMedium;
          line-height: 25px;
          outline: #7E9D00;
        }
        
        &:focus {
          border: 1.5px solid #7E9D00;
        }
        
        & input::placeholder {
          font-family: MacPawFixelRegular;
          font-size: 14px;
          opacity: 0.3;
        }
      }
    }
    
    .change-pass {
      gap: 30px;
      
      .change-pass-title {
        align-self: flex-start;
        text-align: left;
        flex: 1;
        
        & h1 {
          color: var(--default-grey-90);
          font-family: MacPawFixelBold;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 41.6px */
          margin-bottom: 15px;
          margin-top: 0;
        }
        
        & p {
          color: var(--default-grey-90);
          font-family: MacPawFixelMedium;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          opacity: 0.7;
          margin: 0;
        }
      }
      
      .inputs-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        gap: 20px;
        
        .input-pass-box {
          max-width: none;
          
          & input {
            background-color: var(--default-white);
          }
        }
        
        .save-btn {
          display: flex;
          margin-top: 10px;
          width: 250px;
          border-radius: 10px;
          background: var(--default-green);
          border: none;
          height: 44px;
          padding: 10px 20px;
          box-sizing: border-box;
          align-self: flex-end;
          
          & span {
            font-family: MacPawFixelMedium;
            color: var(--default-white);
          }
          
          &.inactive {
            background: var(--default-grey-10);
            
            & span {
              color: var(--default-grey-40);
            }
          }
        }
      }
    }
    
    .email-auth {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .disable2FA {
        display: flex;
        align-items: center;
        
        & span {
          font-family: MacPawFixelMedium;
          margin-right: 20px;
          font-size: 16px;
          display: flex;
          align-items: center;
          
          & img {
            margin-right: 10px;
          }
        }
      }
      
      .auth-title {
        text-align: left;
        
        & h1 {
          color: var(--default-grey-90);
          font-family: MacPawFixelBold;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 31.2px */
        }
        
        & p {
          color: var(--default-grey-90);
          font-family: MacPawFixelMedium;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          opacity: 0.7;
          margin: 0;
        }
      }
      
      .disable {
        width: 205px;
        height: 44px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #7E9D00;
        cursor: pointer;
        background: transparent;
        animation: fadeIn .25s ease-in-out;
        
        & span {
          font-family: MacPawFixelMedium;
          font-size: 14px;
          color: #2a2b3b;
        }
      }
      
      .enable {
        width: 205px;
        height: 44px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background: #7E9D00;
        animation: fadeIn .25s ease-in-out;
        
        & span {
          font-family: MacPawFixelMedium;
          font-size: 14px;
          color: #FAFAFA;
        }
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .input-email {
        opacity: 1;
        animation: fadeIn .25s ease-in-out;
        display: flex;
        align-items: center;
        max-width: 560px;
        width: 100%;
        
        .input-box {
          & label {
            display: none;
          }
          
          & input {
            height: 54px;
          }
        }
        
        & button {
          width: 138px;
          height: 44px;
          padding: 10px 20px;
          box-sizing: border-box;
          border-radius: 10px;
          cursor: pointer;
          
          & div {
            font-family: MacPawFixelMedium;
            font-size: 14px;
          }
        }
        
        .cancel {
          margin: 0 10px;
          border: 1.5px solid #BFCE80;
          
          & div {
            color: #2A2B3B;
          }
        }
        
        .save {
          border: none;
          background: #7E9D00;
          
          & div {
            color: #FAFAFA;
          }
          
          &:disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }
  
  .company-info {
    width: 100%;
    overflow-y: hidden;
    position: relative;
    
    .banner {
      display: flex;
      position: relative;
      background-color: #EEF1E1;
      border-radius: 20px;
      padding: 20px;
      margin-top: 30px;
      gap: 20px;
      border: 1px solid var(--default-green);
      
      .banner-image {
        width: 120px;
        height: 120px;
      }
      
      .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
        max-width: 500px;
        
        .banner-title {
          font-family: MacPawFixelBold;
          font-size: 18px;
          line-height: 27px;
          color: var(--default-grey-90);
        }
        
        .banner-description {
          font-family: MacPawFixelMedium;
          font-size: 14px;
          line-height: 21px;
          color: var(--default-grey-70);
        }
      }
      
      .banner-close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 22px;
        top: 22px
      }
    }
    
    .company-address {
      height: 450px;
      align-items: flex-start !important;
    }
    
    .company-des, .target-audience-des, .company-address {
      gap: 30px;
    }
    
    .company-name, .company-des, .target-audience-des, .company-address {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 30px 0 40px;
      border-bottom: 1px solid var(--default-grey-20);
      gap: 30px;
      
      .name-title {
        text-align: left;
        flex: 1;
        
        & h1 {
          color: var(--default-grey-90);
          font-family: MacPawFixelBold;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 41.6px */
          margin-bottom: 10px;
          margin-top: 0;
        }
        
        & p {
          color: var(--default-grey-90);
          font-family: MacPawFixelMedium;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          opacity: 0.7;
          margin: 0;
        }
      }
      
      .input-container {
        flex: 1;
        
        & textarea {
          border: 1px solid var(--default-grey-10);
          border-radius: 10px;
          background: var(--default-white);
          width: 100%;
          padding: 22px 20px;
          min-height: 324px;
          box-sizing: border-box;
          font-size: 14px;
          line-height: 19px;
          font-family: MacPawFixelMedium;
          color: #2A2B3B;
          outline: none;
          resize: none;
        }
      }
      
      .input-box {
        flex: 1;
        max-width: none;
        
        & label {
          display: none;
        }
        
        & input {
          width: 100%;
          background-color: var(--default-white);
          border-color: var(--default-grey-10);
        }
      }
      
      .dropdowns {
        flex: 1;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        right: 0;
        bottom: 80px;
        
        .input-box {
          & label {
            display: none;
          }
          
          & input {
            width: 100%;
            border: 1px solid #EAEAEC;
          }
          
          width: 100%;
        }
      }
    }
  }
  
  .domain-wrapper {
    width: 100%;
    overflow-y: hidden;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .domain-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      
      .domain-left-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;
        
        .domain-title {
          color: var(--default-grey-90);
          font-family: MacPawFixelBold;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 31.2px */
        }
        
        .domain-description {
          color: var(--default-grey-90);
          font-family: MacPawFixelMedium;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          opacity: 0.7;
          margin: 0;
        }
      }
      
      .domain-right-content {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        
        .domain-info-wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          
          .domain-info {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-right: 10px;
            font-family: MacPawFixelBold;
            font-size: 16px;
            line-height: 22px;
            
            .status-icon {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    
    .domain-info-button {
      font-size: 14px;
      
      .status-loader {
        width: 22px;
        height: 22px;
      }
    }
    
    .domain-verify-button {
      width: 262px;
      margin-left: 30px;
      border-radius: 10px;
      background: #7E9D00;
      border: none;
      height: 44px;
      padding: 10px 20px;
      box-sizing: border-box;
      cursor: pointer;
      font-family: MacPawFixelMedium;
      font-size: 14px;
      color: #FFFFFF;
      display: flex;
      align-self: flex-end;
    }
  }
}

.ant-tabs-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  .ant-tabs-tab {
    width: 50%;
    justify-content: center;
  }
}
