.ant-switch {
  width: 90px;
  
  .ant-switch-inner {
    .ant-switch-inner-unchecked {
      /*font-weight: bold;*/
    }
  }
}

.switch {
  align-items: center;
  background: var(--grey-4);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  justify-content: flex-start;
  padding: 3px;
  width: 65px;
  
  .switch-button {
    background: var(--grey-2);
    border-radius: 13px;
    height: 26px;
    width: 26px;
  }
  
}
