button {
  display: flex;
  background: transparent;
  width: 160px;
  height: 44px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--default-green);
  font-family: MacPawFixelMedium;
  cursor: pointer;
}
