.form-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background: var(--default-white);
  .step-description{
    font-family: MacPawFixelSemiBold;
    line-height: 19.32px;
    color: var(--default-grey-90);
    margin: 0;
    .optional{
      color: var(--default-grey-50);
    }
  }
  .form-content-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    margin: 0;
    font-family: MacPawFixelMedium;
    font-size: 14px;
    line-height: 19.32px;
    color: var(--default-grey-70);
    list-style: disc inside;
    .form-content-list-item{
      .bold-item{
        font-family: MacPawFixelBold;
        color: var(--default-grey-90);
      }
    }
  }
  .next-button{
    align-self: flex-end;
    &:disabled{
      border-color: var(--default-grey-30);
    }
  }
}

.first-form-content {
  gap: 20px;
  width: 100%;
  font-size: 14px;
  .inputs-box-wrapper{
    margin-bottom: 30px;
    .inputs-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background-color: var(--default-white);
      .input-box{
        label{
          margin: 10px 20px;
          color: var(--default-grey-50);
        }
        input{
          font-family: MacPawFixelMedium;
          font-size: 14px;
          background-color: var(--default-white);
          color: var(--default-grey-90);
        }
        input::placeholder{
          color: var(--default-grey-40);
          opacity: 1;
        }
      }
      &.inputs-error{
        .input-box{
          input{
            border-color: var(--default-red);
          }
        }
      }
    }
    .inputs-box-error{
      margin-top: 10px;
      padding: 0 20px;
      font-family: MacPawFixelMedium;
      font-size: 12px;
      line-height: 16.56px;
      color: var(--default-red);
    }
  }
}

.second-form-content,
.third-form-content,
.fourth-form-content,
.fifth-form-content{
  text-align: left;
  align-items: flex-start;
  font-family: MacPawFixelMedium;
  font-size: 14px;
  justify-content: space-between;
  gap: 30px;
}

.second-form-content{
  .success-form-content-text{
    color: var(--default-green);
  }
  .next-button{
    margin-top: 20px;
  }
}

.third-form-content{}

.fourth-form-content,
.fifth-form-content{
  gap: 20px;
  .form-content-list{
    gap: 10px;
  }
  .clipboard-fields{
    margin-top: 10px;
  }
}

.sixth-form-content{
  gap: 30px;
  &-title{
    margin: 0;
    font-family: MacPawFixelBold;
    font-size: 24px;
    line-height: 33px;
    color: var(--default-green);
  }
  &-text{
    font-family: MacPawFixelMedium;
    font-size: 14px;
    line-height: 19px;
    color: var(--default-grey-70);
  }
  &.check-status-content{
    gap: 10px;
    .sixth-form-content-title{
      height: 33px;
    }
    .sixth-form-content-text{
      height: 19px;
      margin-bottom: 20px;
    }
    .check-status-button{
      align-self: flex-end;
      &.success{
        width: 184px;
      }
    }
    .status-loader{
      width: 22px;
      height: 22px;
    }
  }
}

.clipboard-fields{
  margin-top: 20px;
  width: 100%;
  .input-wrapper{
    width: inherit;
    font-family: MacPawFixelMedium;
    font-size: 14px;
    color: var(--default-grey-50);
    label{
      font-size: 12px;
      margin: 0 20px 10px;
    }
    margin-bottom: 20px;
    input{
      font-family: MacPawFixelMedium;
      font-size: 14px;
      color: var(--default-grey-40);
    }
  }
}
