.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  
  .ant-flex {
    width: 100%;
    max-width: 1200px;
  }
  
  .ant-breadcrumb {
    .ant-breadcrumb-link {
      display: flex;
      align-items: center;
      
      .header-icon {
        margin-right: 8px;
        
        & svg {
          width: 16px;
          height: 16px;
        }
      }
      
      .header-path {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  
  .header-content {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
  }
}
