.building-icon {
  width: 80px;
  height: 80px;
}

.building-blocks-item:hover > .paragraph-icon rect:nth-child(n+1) {
  fill: var(--grey-3);
  opacity: var(--main-opacity);
}
.building-blocks-item:hover > .paragraph-icon rect:nth-child(n+2) {
  fill: var(--purple-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .header-icon rect:nth-child(1) {
  fill: var(--green-7);
  opacity: var(--main-opacity);
}
.building-blocks-item:hover > .header-icon rect:nth-child(n+2),
.building-blocks-item:hover > .header-icon circle:nth-child(n+3) {
  fill: var(--grey-3);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .list-icon rect:nth-child(1) {
  fill: var(--grey-3);
  opacity: var(--main-opacity);
}
.building-blocks-item:hover > .list-icon rect:nth-child(n+2),
.building-blocks-item:hover > .list-icon circle:nth-child(n+2) {
  fill: var(--green-7);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .button-icon rect {
  fill: var(--green-7);
  opacity: var(--main-opacity);
}
.building-blocks-item:hover > .button-icon path {
  fill: var(--grey-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .image-icon path {
  fill: var(--yellow-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .spacing-icon path {
  fill: var(--orange-9);
  opacity: var(--main-opacity);
}
.building-blocks-item:hover > .spacing-icon rect {
  fill: var(--grey-3);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .divider-icon rect:nth-child(1),
.divider-icon:hover rect:nth-child(3) {
  fill: var(--grey-3);
  opacity: var(--main-opacity);
}
.building-blocks-item:hover > .divider-icon rect:nth-child(2) {
  fill: var(--orange-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .social-icon path {
  fill: var(--orange-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .html-icon path {
  fill: var(--purple-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .footer-icon path {
  fill: var(--grey-3);
  opacity: var(--main-opacity);
}
.building-blocks-item:hover > .footer-icon path:nth-child(1) {
  fill: var(--purple-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .video-icon path:nth-child(n+1),
.building-blocks-item:hover > .video-icon g:nth-child(n+2) {
  fill: var(--orange-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .logo-icon path {
  fill: var(--yellow-9);
  opacity: var(--main-opacity);
}

.building-blocks-item:hover > .giphy-icon path:nth-child(n+1) {
  fill: var(--purple-9);
  opacity: var(--main-opacity);
}

.building-text {
  margin: 0;
  color: var(--grey-9);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Text Editor toolbar*/
.toolbar-btn-wrapper {
  width: 100%;
  padding: 6px 0;
  height: 40px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  
  &:hover {
    border: 1px solid var(--green-8);
    border-radius: 8px;
  }
  
  &:hover .write-icon path {
    fill: var(--green-8);
  }
  
  &:hover .spelling-icon path {
    stroke: var(--green-8);
  }
  
  &:hover .continue-icon path {
    stroke: var(--green-8);
  }
  
  &:hover .shorten-icon path {
    stroke: var(--green-8);
  }
  
  &:hover .expand-icon path {
    stroke: var(--green-8);
  }
  
  &:hover .emojis-icon path {
    stroke: var(--green-8);
  }
  
  &:hover .tone-icon path {
    stroke: var(--green-8);
  }
  
  .toolbar-btn-text {
    font-size: 10px;
    font-family: MacPawFixelMedium;
    color: var(--grey-5);
  }
  
  &:hover .toolbar-btn-text {
    color: var(--green-8);
    font-weight: 700;
  }
}
