:root {
  --custom-color: var(--grey-9);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--custom-color);
  caret-color: transparent;
}

p.title {
  font-size: 14px;
  caret-color: transparent;
}
