.auth-form-container {
  flex: 1;
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 400px;
    margin-top: 20px;
    
    .email {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
    
    }
  }
}

.dropdown {
  .dropdown-button {
    cursor: pointer;
    width: 100%;
    z-index: 222;
    display: flex;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 54px;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    opacity: 1;
    
    &.open {
      background-color: #FAFAFA;
      border-radius: 0 0 10px 10px;
      border-right: 1px solid #E8E8E8;
      border-left: 1px solid #E8E8E8;
      border-bottom: 1px solid #e8e8e8;
      border-top: 1px solid #E8E8E8;
    }
    
    & span {
      color: var(--default-grey-70);
      font-family: MacPawFixelBold, "sans-serif";
      font-size: 12px;
    }
  }
}
