.ant-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  padding-top: 80px;
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .ant-menu {
      border: none;
    }
    
    .logout-container {
      border-top: 1px solid #D4D5D8;
    }
  }
}
