.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: fit-content;
  height: 100vh;
  background-color: var(--default-white);
  border-right: 1px solid #E8E8E8;
  padding: 25px 15px 0;
  
  .lower-tabs {
    margin-bottom: 40px;
    position: relative;
    
    .user-tab {
      z-index: 222;
      display: flex;
      align-items: center;
      
      .user-name {
        color: var(--default-grey-70);
        font-family: MacPawFixelBold, "sans-serif";
        font-size: 12px;
        margin-left: 10px;
      }
    }
    
    .upgrade-plan {
      align-self: center;
      display: flex;
      border-radius: 10px;
      border: 1px solid var(--default-grey-10);
      padding: 20px 25px 20px 10px;
      box-sizing: border-box;
      align-items: center;
      gap: 10px;
      margin-bottom: 40px;
      
      .sidebar-up-plane {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        
        .up-plan-span {
          color: var(--default-green);
          font-size: 14px;
          font-family: MacPawFixelBold, "sans-serif";
        }
        
        .up-plan-text {
          margin: 5px 0 0;
          color: var(--default-grey-50);
          font-size: 12px;
          font-family: MacPawFixelMedium, 'sans-serif';
        }
      }
    }
  }
  
  .balance {
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--default-grey-10);
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    
    .count-balance {
      color: var(--default-green);
      font-family: MacPawFixelBold, "sans-serif";
      font-size: 16px;
      display: flex;
      align-items: center;
      
      & span {
        margin-left: 5px;
      }
    }
  }
  
  .side-logo {
    display: flex;
    align-items: center;
    margin: 0 0 50px;
    
    & img {
      width: 120px;
      height: 34px;
    }
    
    & span {
      margin-left: 5px;
      color: var(--default-green);
      font-family: GilroyBold;
    }
  }
  
  & a {
    text-decoration: none;
    justify-content: flex-start;
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
    height: 26px;
    padding: 15px;
    margin: 10px 0;
    color: var(--default-grey-90);
    cursor: pointer;
    
    & img {
      width: 16px;
      height: 16px;
    }
    
    & span {
      font-family: MacPawFixelRegular;
      font-size: 16px;
      margin-left: 10px;
    }
  }
  
  :focus {
    background-color: var(--default-green);
    border-radius: 10px;
    
    & span {
      color: var(--default-white);
    }
    
  }
  
  .button-wrapper {
    .line {
      height: 1px;
      width: 100%;
      background: #EAEAEC;
    }
    
    .logout {
      align-self: center;
      width: 175px;
      padding: 30px 15px 15px 15px;
      box-sizing: border-box;
      background: transparent;
      margin-bottom: 30px;
      display: flex;
      border: none;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      
      & img {
        width: 14px;
        height: 14px;
      }
      
      & div {
        font-family: MacPawFixelLight;
        font-size: 16px;
        margin-left: 10px;
        color: #FF5656;
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: fadeIn .25s ease-in-out;
    
    .modal-window {
      width: 360px;
      height: 130px;
      border-radius: 20px;
      background: #FFF;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      
      & h1 {
        color: var(--default-grey-90);
        text-align: center;
        font-family: MacPawFixelBold;
        font-size: 20px;
        font-style: normal;
        line-height: 130%;
        margin: 0;
      }
      
      .button-modal-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: MacPawFixelMedium;
        
        & button {
          width: 152px;
          height: 44px;
          border-radius: 10px;
          padding: 10px 20px;
          box-sizing: border-box;
          border: none;
          cursor: pointer;
        }
        
        .cancel {
        
        }
        
        .logout {
          align-items: center;
          display: flex;
          background: #FF5656;
          
          & div {
            font-size: 14px;
            color: var(--default-white);
            margin-left: 10px;
          }
        }
      }
    }
  }
}
