.custom-dropdown {
  width: 220px;

  .selected-option {
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 44px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--green-7);

    .main-content {
      display: flex;

      .placeholder {
        margin-left: 10px;
        font-family: MacPawFixelMedium, 'sans-serif';

        & span {
          color: var(--green-7);
          font-size: 10px;
          font-weight: 500;
        }

        & div {
          color: var(--grey-9);
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .selected {
      font-family: MacPawFixelMedium, 'sans-serif';
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      & span {
        color: var(--green-7);
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
      }

      & p {
        margin: 0;
        color: var(--grey-9);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .dropdown-arrow {
      width: 16px;
      height: 16px;
    }

    & span {
      display: flex;

      .placeholder {
        display: flex;

        & div {
          margin-left: 10px;

          & img {
            width: 16px;
            height: 16px;
          }

          & span {
            color: var(--green-7);
            font-family: MacPawFixelMedium;
            font-size: 10px;
            line-height: normal;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .options {
    position: absolute;
    width: 100%;
    max-width: 220px;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFF;
    margin-top: 5px;
    border: 0.5px solid var(--grey-5);
    gap: 20px 0;

    & div {
      display: flex;
      padding: 10px 15px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      cursor: pointer;
    }

    :hover {
      border-radius: 10px;
      background: #F4F4F5;
    }
  }
}
