.tests-tab-wrapper{
  .tests-tab-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    gap: 10px;
    img{
      width: 140px;
      height: 140px;
    }
    .tests-tab-title{
      margin-top: 10px;
      color: var(--default-grey-90);
      text-align: center;
      font-family: MacPawFixelBold;
      font-size: 24px;
      line-height: 33px;
    }
    .tests-tab-description{
      max-width: 400px;
      font-family: MacPawFixelMedium;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: var(--default-grey-50);
      margin-bottom: 10px;
    }
    .tests-tab-button{
      width: 205px;
      background-color: var(--default-green);
      color: var(--default-white);
      font-size: 14px;
    }
  }
}
