.campaigns-page-container {
  height: fit-content;
  
  .ant-tabs-left {
    .ant-tabs-nav {
      height: 200px;
      
      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            padding: 0 20px 0 0;
            width: 100%;
            justify-content: start;
          }
        }
      }
    }
    
    .ant-tabs-content-holder {
      height: 100vh;
      overflow: scroll;
      overflow-x: hidden;
      
      .ant-card {
        margin: 10px auto;
        border-radius: 20px;
        
        .ant-card-head {
          padding: 0 20px;
          
          .ant-card-head-wrapper {
            
            .ant-card-head-title {
              .title-mail-icon {
                font-size: 20px;
                color: #6A6B76;
                padding: 15px 10px 0 0;
              }
            }
            
            .ant-card-extra {
              display: flex;
              justify-content: space-between;
              width: 80px;
              
              .edit-icon,
              .delete-icon {
                font-size: 20px;
                
                &:hover {
                  font-size: 22px;
                }
              }
              
              .edit-icon {
                color: #7e9d00;
              }
              
              .delete-icon {
                color: #FF5656;
              }
            }
          }
        }
        
        .ant-card-body {
          padding: 15px 20px;
        }
      }
      
      &::-webkit-scrollbar {
        width: 3px;
      }
      
      &::-webkit-scrollbar-track {
        background: #575252;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #c9c9c9;
      }
    }
  }
}
