.icon-button_close:hover circle {
  fill: var(--grey-2);
  cursor: pointer;
}

/* StickyIcon of BorderOverChild component */
.icon-button {
  visibility: hidden;
  position: relative;
  bottom: 2px;
  left: 750px;
  z-index: 2;
  background-color: initial;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 25px;
  padding: 4px;

  & > .sticky-icon {
    border-radius: 0;
  }

  &:nth-of-type(2) {
    left: 740px;
    bottom: 2px;
  }

  &:nth-of-type(3) {
    left: 730px;
    bottom: 2px;
  }

  &.is-active {
    visibility: visible;

    & rect {
      fill: var(--green-7);

      &:hover {
        fill: var(--green-5);
      }
    }
  }
}

.icon-button-horizontal {
  visibility: hidden;
  background-color: initial;
  border: none;
  cursor: pointer;
  margin: 5px 0 0 0;

  &:nth-of-type(1) svg {
    transform: rotate(90deg);
  }

  &.active {
    visibility: visible;

    & rect {
      fill: var(--green-7);

      &:hover {
        fill: var(--green-5);
      }
    }
  }
}

/* Parent .media-query-btn-wrapper in the Header */
.media-query-icon-btn {
  & path {
    stroke: var(--grey-3);
  }

  &:hover path {
    stroke: var(--grey-5);
  }

  &.is-desktop path, &.is-mobile path {
    stroke: var(--grey-9);
  }
}

.tool-btn-icon {
  border: 1px solid var(--grey-1);
  border-radius: 5px;
  padding: 10px 30px;

  &:hover {
    border: 1px solid var(--green-8);
  }

  & path {
    stroke: var(--grey-3);
  }

  &:hover path {
    stroke: var(--grey-5);
  }
}

.undo-icon, .redo-icon {
  & path {
    stroke: var(--grey-3);
  }

  &:hover path {
    stroke: var(--grey-5);
  }
}

.btn-preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--grey-1);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;

  &.campaign-modal {
    border: 1px solid var(--green-8);
  }

  &:hover {
    border: 1px solid var(--green-8);
  }

  .btn-preview-text {
    opacity: .3;
  }

  &:hover .btn-preview-text {
    opacity: 1;
  }

  .btn-preview-icon {
    opacity: .3;
    padding: 0 5px;
  }

  &:hover .btn-preview-icon {
    opacity: 1;
  }
}

.brand-button-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--grey-5);
  width: 100%;
  margin: 20px 0;
  border: 1px solid var(--grey-1);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 30px;
  }

  &:hover {}

  &.brand-btn-variant-active {
    color: var(--grey-1);
    background: var(--green-7);

    &:hover {
      background: var(--green-8);
    }
  }

  &.brand-btn-variant-passive {
    color: var(--grey-9);
    background: var(--grey-1);

    &:hover {
      background: var(--grey-2);
    }
  }
}
