:root {
  --main-opacity: 0.9;
  /*interface colors*/
  --default-white: #FAFAFA;
  --default-grey: #EEEEEE;
  --default-purple: #666DA5;
  --default-red: #FF5656;
  --default-green: #7E9D00;
  --default-green-bg-hover: #98B133D5;
  --default-green-bg-pressed: #A5BB4D;
  --default-yellow: #EDB833;
  --default-orange: #D36700;
  --default-grey-90: #2A2B3B;
  --default-grey-70: #6A6B76;
  --default-grey-60: #7F8089;
  --default-grey-50: #95959D;
  --default-grey-40: #AAAAB1;
  --default-grey-30: #C0C0C5;
  --default-grey-20: #D4D5D8;
  --default-grey-10: #EAEAEC;
  
  /*borders*/
  --border-color: #E8E8E8;
  --border-color-hover: #2A2B3B;
  --border-color-btn-hover: #98B133D5;
  
  /*tabs*/
  --tab-color-pressed: #2A2B3B;
  --tab-color-default: #6A6B76;
  
  /*Text Editor*/
  --te-icon-bg-pressed: #EAEAEC;
  --te-icon-bg-hover: #D4D5D8;
  
  /*Campaign*/
  --bg-icon-hover: #EAEAEC;
  --campaign-default-label-color: #2A2B3B;
  --campaign-default-info-color: #95959D;
  --campaign-btn-border-color: #98B133D5;
  
  /*colors icon and button*/
  --btn-icon-bg-default: #EAEAEC;
  --btn-icon-bg-hover: #D4D5D8;
  --btn-icon-bg-pressed: #F4F4F5;
  --btn-icon-color-default: #2A2B3B;
  
  /*slider*/
  --slider-bg-default: #EAEAEC;
}
