.ant-card {
  width: 90%;
  margin: 50px auto;
  
  &:hover {
    transform: scale(1.007);
  }
  
  .ant-card-body {
    padding: 50px;
    
    .ant-flex {
      width: 100%;
      
      &.login-layout {
        flex-direction: row-reverse;
        
        .auth-form-container {
          padding: 0 50px 0 0;
        }
      }
      
      &.register-layout {
        .auth-form-container {
          padding: 0 0 0 50px;
        }
      }
      
      .auth-layout-image-wrapper {
        flex: 1;
        overflow: hidden;
        
        .auth-layout-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.main-layout::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

.home-layout {
  .ant-layout-content {
    height: 100vh;
  }
}

.default-layout-container {
  display: flex;
}
