.campaign-dropdown-menu-container {
  .ant-ribbon {
    margin: 0 12px;
  }
  
  .ant-card {
    margin: 0 auto 30px auto;
    
    &:hover {
      scale: 1.02;
      cursor: pointer;
      border-color: #7e9d00;
    }
    
    .ant-card-body {
      padding: 10px;
    }
  }
}
